/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

/* project properties */
:root {
    --header-bg-color: white;
    --aside-bg-color: #1992D4;
    --main-bg-color: #E0E6EE;

    --light-text-color: var(--header-bg-color);
    --dark-text-color: #222222;
}

/* project styles */
.layout {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;

    height: 100vh;
    width: 100vw;
}

header {
    background-color: var(--header-bg-color);
    color: var(--dark-text-color);

    display: grid;

    & > div {
        display: grid;
        grid-auto-flow: column;
        height: 50px;

        &
        :nth-child(1),
        :nth-child(2) {
            justify-self: start;

        }
        
        &
        :nth-child(3),
        :nth-child(4),
        :nth-child(5) {
            justify-self: end;
        }
    }

    & > div:first-child {
        grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    }

    & > div:nth-child(2) {
        grid-template-columns: 15fr 40fr 15fr 15fr 15fr;
    }

    padding: 2rem 4rem;
}

input {
    width: 70%;
    height: 70%;
}

aside {
    background-color: var(--aside-bg-color);
    color: var(--light-text-color);

    display: grid;
    gap: 4rem;
    grid-row: 1 / span 2;
    grid-template-rows: repeat(3, min-content);

    padding: 1rem;
}

nav ul {
    display: grid;
    gap: 1rem;
    padding: 0;

    & li {
        font-size: 1.5rem;
        font-weight: bold;
        list-style: none;
    }
}

main {
    background-color: var(--main-bg-color);
    
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 3fr 1fr;

    padding: 2rem 2rem;
    padding-bottom: 6rem;
}   

.project {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;

    & h1 {
        grid-column: 1 / -1;
    }
}

.announcement-trending {
    display: grid;
    gap: 1.5rem;
    grid-template-rows: min-content 1fr min-content 1fr;
}

.card {
    background-color: var(--header-bg-color);
    border: 1px solid black;
}