/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

/* project properties */
:root {
    --header-bg-color: white;
    --aside-bg-color: #1992D4;
    --main-bg-color: #E0E6EE;
    --pfp-bg-color: #FACC15;

    --light-text-color: var(--header-bg-color);
    --dark-text-color: #222222;
}

/* project styles */
.layout {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    
    font-family: "Roboto";

    height: 100vh;
    width: 100vw;
}

input, button {
    font-family: inherit;
}

header {
    background-color: var(--header-bg-color);
    color: var(--dark-text-color);

    display: grid;
    row-gap: 1.5rem;

    font-size: 1.5rem;
    font-weight: bold;

    & > div {
        align-items: center;
        display: grid;
        grid-auto-flow: column;

        &
        :nth-child(1),
        :nth-child(2) {
            justify-self: start;

        }
        
        &
        :nth-child(3),
        :nth-child(4),
        :nth-child(5) {
            justify-self: end;
        }
    }

    & > div:first-child {
        gap: 2rem;
        grid-template-columns: min-content 1fr min-content min-content min-content;

        .pfp {
            height: 4rem;
            width: 4rem;
        }

    }

    & > div:nth-child(2) {
        gap: 2rem;
        grid-template-columns: min-content 1fr min-content min-content min-content;
        
        .pfp {
            height: 6rem;
            width: 6rem;
        }
    }

    padding: 1.5rem 4rem;

    svg {
        fill: var(--dark-text-color);
        height: 2rem;
    }

    p {
        text-wrap: nowrap;
    }
}

div.search-icon, div.bell-icon {
    height: 2rem;
    width: 2rem;
} 

.pfp {
    background-color: var(--pfp-bg-color);
    border-radius: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    place-self: center;
    height: 65%;
    width: auto;
}

input {
    background-color: var(--main-bg-color);
    border: none;
    border-radius: 24px;
    outline: none;

    font-size: 1rem;
    text-indent: 1rem;

    width: 80%;
    height: 70%;
}

.greeting {
    line-height: 1.5;

    span {
        font-size: 1rem;
    }
}

button {
    background-color: var(--aside-bg-color);
    border: none;
    border-radius: 32px;
    color: var(--light-text-color);
    
    font-size: 1.2rem;
    font-weight: bold;
    height: 3rem;
    width: 7.5rem;
}

aside {
    background-color: var(--aside-bg-color);
    color: var(--light-text-color);

    display: grid;
    gap: 4rem;
    grid-row: 1 / span 2;
    grid-template-rows: repeat(3, min-content);

    padding: 2rem;

    h1, li  {
        display: flex;
        align-items: center;

        svg {
            fill: var(--light-text-color);
        }
    }

    h1 {
        gap: 10px;
        
        svg {
            height: 4rem;
        }
    }    

    & li {
        gap: calc(10px + 1rem);
        padding-left: 1rem;

        svg {
            height: 2rem;
        }
    }
}

nav ul {
    display: grid;
    gap: 1.5rem;
    padding: 0;

    & li {
        font-size: 1.5rem;
        font-weight: bold;
        list-style: none;
    }
}

main {
    background-color: var(--main-bg-color);
    
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 3fr 1fr;

    padding: 2rem 2rem;
    padding-bottom: 6rem;
}   

.project {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;

    & h1 {
        grid-column: 1 / -1;
    }
}

.announcement-trending {
    display: grid;
    gap: 1.5rem;
    grid-template-rows: min-content 1fr min-content 1fr;
}

.card {
    background-color: var(--header-bg-color);
    border: 1px solid black;
}